.avatar {
    position: relative;
    width: 100%; /* for IE 6 */
}

a:hover {
    cursor: pointer;
}

.change-picture-overlay .change-picture-slide {
    visibility: hidden;
    position: absolute;
    top: 150px;
    width: 93.8%;
    background-color: rgba(0, 0, 0, 0.698);
    color: #EEFFFF;
    height: 50px;
    opacity: 0.9;
    text-align: center;
}

.change-picture-slide {
    padding-top: 10px;
}

