.input-error {
    border: 1px solid #F00;
    box-shadow: 0 0 5px rgba(255, 0, 0, 1);
    border-radius: 5px;
}

.input-error:focus {
    border: 1px solid #F00;
    box-shadow: 0 0 5px rgba(255, 0, 0, 1);
    border-radius: 5px;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.user-form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.user-form .form-signin-heading,
.user-form .checkbox {
    margin-bottom: 10px;
}

.user-form .checkbox {
    font-weight: normal;
}

.user-form .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.user-form input {
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.user-form select {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.select-date {
    display: inline;
    width: 0px;
}

.popover-content {
    box-shadow: 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
