<?php
echo $this->headLink()->prependStylesheet($this->basePath() . '/css/form_style.css');
echo $this->headScript()
    ->appendFile($this->basePath() . '/js/bootstrap-tooltip.js')
    ->appendFile($this->basePath() . '/js/translate.js')
    ->appendFile($this->basePath() . '/js/login.js')

;
$formImage = $this->form;
$receivedData = $this->receivedData;
$formImage->setAttribute('action', $this->url('signin', array('action' => 'signin'), true));
$formImage->prepare();
?>
<?php if ($receivedData):
    if ($this->messages <> ''):?>
        <div class="alert alert-danger">
            <button class="close" data-dismiss="alert" type="button">×</button>
            <strong><?php echo $this->translate('Invalid input'); ?></strong>
            <?php echo $this->translate($this->messages) ?>
        </div>
    <?php endif ?>
<?php endif ?>
<div class="container">
    <div class="user-form" role="form">
        <h2 class="form-signin-heading"><?php echo $this->translate('Sign in'); ?></h2>
        <?php echo $this->form()->openTag($formImage);
        $this->addClass('input-error', $this->form);
        echo $this->formInput($formImage->get('username'));
        echo $this->formElementErrors($formImage->get('username'), array('class' => "danger"));
        ?>
        <?php echo $this->formInput($formImage->get('password'));
        echo $this->formElementErrors($formImage->get('password'), array('class' => "danger"));?>
        <strong>
            <?php echo $this->formCheckbox($formImage->get('remember')); ?>&nbsp;
            <?php echo $this->translate('Remember me'); ?>
        </strong>
        <?php
        echo $this->formSubmit($formImage->get('b_signin'));
        echo $this->form()->closeTag();
        ?>
        <p>
            <a href="<?php echo $this->url(
                'recovery',
                array('action' => 'passwordrecovery'),
                true
            ) ?>"><?php echo $this->translate('Forgot password'); ?></a>
        </p>
    </div>
</div> <!-- /container -->

