</br>
</br>
</br>

<table class="table">
    <tr class="success">
        <th><?php echo $this->translate('Username'); ?></th>
        <th><?php echo $this->translate('Password'); ?></th>
        <th></th>
    </tr>
    <?php foreach ($this->results as $result) : ?>
        <tr class="success">
            <td><?php echo $this->escapeHtml($result->username); ?></td>
            <td><?php echo $this->escapeHtml($result->password); ?></td>
            <td>
            </td>
        </tr>
    <?php endforeach; ?>
</table>