<?php echo $this->headLink()->prependStylesheet($this->basePath() . '/css/file_upload/jquery.fileupload.css')

?>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><?php echo $this->translate('Image upload') ?></h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">

                            <?php $this->formImage->prepare(); ?>

                            <?php echo $this->form()->openTag($this->formImage); ?>
                            <span class="btn btn-success fileinput-button">
                                  <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add files...</span>
                                    <input id="fileupload" type="file" name="avatar" data-url="/image" multiple>
                                    </span>
                            <br>
                            <br>
                            <br>
                            <br>


                            <div id="preview_image"></div>
                            <div id="file_message"></div>

                            <?php echo $this->form()->closeTag(); ?>


                            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                            <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
                            <script src="<?= $this->basePath() ?>/js/file_upload/jquery.ui.widget.js"></script>
                            <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
                            <script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js"></script>
                            <!-- The Canvas to Blob plugin is included for image resizing functionality -->
                            <script
                                src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
                            <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
                            <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
                            <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
                            <script src="<?= $this->basePath() ?>/js/file_upload/jquery.iframe-transport.js"></script>
                            <!-- The basic File Upload plugin -->
                            <script src="<?= $this->basePath() ?>/js/file_upload/jquery.fileupload.js"></script>
                            <!-- The File Upload processing plugin -->
                            <script src="<?= $this->basePath() ?>/js/file_upload/jquery.fileupload-process.js"></script>
                            <!-- The File Upload image preview & resize plugin -->
                            <script src="<?= $this->basePath() ?>/js/file_upload/jquery.fileupload-image.js"></script>

                            <!-- The File Upload validation plugin -->
                            <script
                                src="<?= $this->basePath() ?>/js/file_upload/jquery.fileupload-validate.js"></script>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <style>
        .bar {
            height: 18px;
            background: green;
        }
   </style>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#preview_image').html('<img src="' + e.target.result + '"/>');
                   // $('#target').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#fileupload").change(function () {
            readURL(this);
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#fileupload').fileupload({
                dataType: 'json',

                add: function (e, data) {
                    data.context = $('<button/>').text('Upload')
                        .appendTo(document.body)
                        .click(function () {
                            data.context = $('<p/>').text('Uploading...').replaceAll($(this));
                            data.submit();
                        });
                },

              /*  progress: function (e, data) {
                    console.log(data);
                    var progress = parseInt(data.loaded data.loaded * 100, 10);
                    $('#progress .bar').css(
                        'width',
                        progress + '%'
                    );
                }*/

                done: function (e, data) {
                    $('#file_message').html('File has been uploaded<i>&nbsp' + data.result.name + '</i>');
                    $.each(data.result.files, function (index, file) {
                        alert(file.name);
                    });
                    data.context.text('Upload finished.');

                }
            });

        });
    </script>




