<?php
/**
 * @var Zend\View\Renderer\PhpRenderer
 */

echo $this->headLink()->prependStylesheet($this->basePath() . '/css/form_style.css')
    ->prependStylesheet($this->basePath() . '/css/edit_profile.css');
//$route = $this->url('editProfile', array('controller' => 'user', 'action' => 'changeImage'), true);
//$route = "'" . $route . "'";
$lang_url = $this->url('editProfile', array('controller' => 'user', 'action' => 'selectLanguage'), true);
$lang_url = "'" . $lang_url . "'";

echo $this->headScript()->appendFile($this->basePath() . '/js/changeImage.js')

    ->appendFile($this->basePath() . '/js/editProfile.js');?>


<div class="container">
    <?php echo $this->partial(
        'user/user/selectLanguage.phtml',
        array(
            'form' => $this->form
        )
    );
    ?>
    <div class="row">
        <div class="col-md-6">
            <h3><?php echo $this->translate('Edit profile'); ?></h3>

        </div>
    </div>

</div>


<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-4">
            <div class="avatar">
                <a href="#" class="image">
                    <?php  echo $this->gravatar('yuklia.pur@gmail.com', array('img_size' => '200'))
                        ->setAttribs(array('class' => 'img-rounded'))
                        ->getImgTag();?>
                </a>

                <div class="change-picture-overlay">
                    <div class="change-picture-slide">
                        <a id="change-picture" data-toggle="modal" data-target="#myModal"
                           style="color: #EFF;"><?php echo $this->translate('change picture'); ?></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <?php
            $form = $this->form;
            $form->setAttribute(
                'action',
                $this->url('editProfile', array('controller' => 'user', 'action' => 'editProfile'), true)
            );
            $form->prepare();
            ?>
            <div class="user-form" role="form">
                <?php echo $this->form()->openTag($form);
                $this->addClass('input-error', $this->form);
                echo $this->formLabel($form->get('username'));
                echo $this->formInput($form->get('username'));
                echo $this->formLabel($form->get('email'));
                echo $this->formInput($form->get('email'));
                ?>
                <?php echo $this->formLabel($form->get('date_of_birth')); ?> </br>
                <?php echo $this->formDateSelect($form->get('date_of_birth'));
                echo $this->formSubmit($form->get('b_edit'));
                echo $this->form()->closeTag();?>

            </div>
        </div>

    </div>
</div>

<?php $this->partial('user/user/changeImage.phtml', array('formImage' => $this->formImage)); ?>



