<?php

$title = 'All users=)';
$this->headTitle($title);
?>

<h1><?php echo $this->escapeHtml($title); ?></h1>
<a href="<?php echo $this->url('logout', array('action' => 'logout')) ?>">Выход</a>


<table class="table">
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th></th>
    </tr>
    <?php foreach ($this->results as $result) : ?>
        <tr>
            <td><?php echo $this->escapeHtml($result->username); ?></td>
            <td><?php echo $this->escapeHtml($result->password); ?></td>
            <td>
            </td>
        </tr>
    <?php endforeach; ?>
</table>

<h1>Добро пожаловать <strong><?php echo $this->identity() ?> !</strong></h1>