<?php echo $this->headLink()->prependStylesheet('/css/form_style.css');
?>
<h1>Hello</h1>
<div class="user-form" role="form">
    <form id="myform" method="post" enctype="multipart/form-data" action="<?= $this->url('changeImage'); ?>">
        <?= $this->partial('/user/user/myform.phtml', array('data' => $this->datas)) ?>

        <button type="submit" name="signup">submit</button>
    </form>
</div>
<script>
    $("#myform").validator();
</script>