<div class="row">
    <div class="col-md-3 col-md-offset-9">
        <select id="select_lang" name="language" class='form-control'>
            <option value="-">Select language</option>
            <option value="ru">Russian</option>
            <option value="en">English</option>
        </select>
    </div>

</div>