<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><?php echo $this->translate('Simple project'); ?></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><span class="glyphicon glyphicon-wrench"></span></li>
                <?php /* @var $page Zend\Navigation\Page\Mvc */?>
                <?php foreach ($this->container as $page): ?>
                    <li>
                        <a href="<?= $page->getHref()?>"><?= $page->getLabel()?></a>
                    </li>
                <?php endforeach;?>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>