<?php
echo $this->headLink()->prependStylesheet($this->basePath() . '/css/form_style.css');

$form = $this->form;
$receivedData = $this->receivedData;
$form->setAttribute('action', $this->url('change', array('action' => 'changePassword'), true));
$form->prepare();
?>

<?php if ($receivedData):
    if ($form->getMessages()):?>
        <div class="alert alert-danger">
            <button class="close" data-dismiss="alert" type="button">×</button>
            <strong><?php echo $this->translate('Invalid input'); ?>!</strong>
            <?php echo $this->translate('The input does not match against rules'); ?>
        </div>
    <?php elseif (!$form->getMessages()): ?>
        <div class="alert alert-success">
            <button class="close" data-dismiss="alert" type="button">×</button>
            <strong><?php echo $this->translate('Form data is valid'); ?>!</strong>
            <?php echo $this->translate('Greetings'); ?>
        </div>
        <p>
            <?php echo $this->translate('Now we can'); ?>&nbsp;<strong><a href="<?php echo $this->url(
                    'signin',
                    array('action' => 'signin'),
                    true
                ) ?>"><?php echo $this->translate('Log in'); ?></a></strong>
        </p>
    <?php endif ?>
<?php endif ?>


<div class="container">
    <div class="user-form" role="form">
        <h2 class="form-signin-heading">Change password</h2>
        <?php echo $this->form()->openTag($form);
        $this->addClass('input-error', $this->form);
        echo $this->formInput($form->get('password'));
        echo $this->formElementErrors($form->get('password'), array('class' => "danger"))
        ?>
        <?php echo $this->formInput($form->get('new_password'));
        echo $this->formElementErrors($form->get('new_password'), array('class' => "danger"));
        ?>

        <?php
        echo $this->formSubmit($form->get('b_change'));
        echo $this->form()->closeTag();
        ?>
    </div>
</div> <!-- /container -->

