<?php
echo $this->headLink()->prependStylesheet($this->basePath() . '/css/form_style.css');

$form = $this->form;
$form->setAttribute('action', $this->url('recovery', array('action' => 'passwordrecovery'), true));
$form->prepare();
?>
<?php if ($this->receivedData): ?>
    <?php if (!$form->getMessages()): ?>
        <div class="alert alert-success">
            <button class="close" data-dismiss="alert" type="button">×</button>
            <?php echo $this->translate('Link was sent to your email. Link\'ll be active during 3 days.'); ?>
        </div>
    <?php endif ?>
<?php endif ?>
<div class="container">
    <div class="user-form" role="form">
        <h2 class="form-signin-heading"><?php $this->translate('Password recovery'); ?></h2>
        <?php echo $this->form()->openTag($form);
        $this->addClass('input-error', $this->form, $this);
        echo $this->formInput($form->get('email'));
        echo $this->formElementErrors($form->get('email'), array('class' => "danger"));
        ?>
        <?php
        echo $this->formSubmit($form->get('b_recovery'));
        echo $this->form()->closeTag();
        ?>
    </div>
</div> <!-- /container -->

