<?php
echo $this->headLink()->prependStylesheet('/css/form_style.css');
echo $this->headScript()
    ->appendFile($this->basePath() . '/js/bootstrap-tooltip.js')
    ->appendFile($this->basePath() . '/js/translate.js')
    ->appendFile($this->basePath() . '/js/registration.js')  //registration uses translate

;
/**
 * @var $this \Zend\View\Renderer\PhpRenderer
 */
$form = $this->form;
$formType = $this->formType;
$receivedData = $this->receivedData;
$form->setAttribute(
    'action',
    $this->url('signup', array('controller' => 'registration', 'action' => 'registration'), true)
);
$form->prepare();
?>
<?php if ($receivedData):
    if ($form->getMessages()):?>
        <div class="alert alert-danger">
            <button class="close" data-dismiss="alert" type="button">×</button>
            <strong><?php echo $this->translate('Invalid input'); ?>!</strong>
            <?php echo $this->translate('The input does not match against rules'); ?>
        </div>
    <?php elseif (!$form->getMessages()): ?>
        <div class="alert alert-success">
            <button class="close" data-dismiss="alert" type="button">×</button>
            <strong><?php echo $this->translate('Form data is valid'); ?>!</strong>
            <?php echo $this->translate('Greetings'); ?>
        </div>
        <p>
            <?php echo $this->translate('Now we can'); ?>&nbsp;<strong><a href="<?php echo $this->url(
                    'signin',
                    array('action' => 'signin'),
                    true
                ) ?>"><?php echo $this->translate('Log in'); ?></a></strong>
        </p>
    <?php endif ?>
<?php endif ?>
<p>
    <form>
    <input type="file">
    <input type="button" value="ok"/>
    </form>
</p>


<div class="container">
    <div class="user-form" role="form">
        <h2 class="user-form-heading"><?php echo $this->translate('Registration'); ?></h2>

        <?php echo $this->form()->openTag($form);
        $this->addClass('input-error', $this->form);
        echo $this->formInput($form->get('username'));?>
        <?php echo $this->formElementErrors($form->get('username'), array('class' => "danger"));
        echo $this->formInput($form->get('password'));
        echo $this->formElementErrors($form->get('password'), array('class' => "danger"));
        echo $this->formInput($form->get('password_1'));
        echo $this->formElementErrors($form->get('password_1'), array('class' => "danger"));
        echo $this->formInput($form->get('email'));
        echo $this->formElementErrors($form->get('email'), array('class' => "danger"));?>
        <?php echo $this->formDateSelect($form->get('date_of_birth')); ?>
        <?php echo $this->formElementErrors($form->get('date_of_birth'), array('class' => "danger"));
        echo $this->formSubmit($form->get('b_reg'));
        echo $this->form()->closeTag();
        ?>
    </div>

</div> <!-- /container -->

