<?php echo $this->doctype(); ?>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="http://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js"></script>
    <?php echo $this->headTitle('ZF2 ' . $this->translate('Skeleton Application'))->setSeparator(' - ')->setAutoEscape(
        false
    ) ?>

    <?php echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <!-- Le styles -->
    <?php echo $this->headLink(
        array(
            'rel' => 'shortcut icon',
            'type' => 'image/vnd.microsoft.icon',
            'href' => $this->basePath() . '/img/favicon.ico'
        )
    )
        ->prependStylesheet($this->basePath() . '/css/style.css')
        ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
        ->prependStylesheet($this->basePath() . '/css/form_style.css')
        ->prependStylesheet($this->basePath() . '/css/jumbotron-narrow.css');
    ?>

    <!-- Scripts -->
    <?php echo $this->headScript()
        ->prependFile($this->basePath() . '/js/bootstrap.min.js')
        ->prependFile($this->basePath() . '/js/jquery.min.js')
        ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
        ->prependFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
        ->prependFile($this->basePath() . '/js/validation.js')


    ; ?>

</head>
<body>
<div class="container">
    <?php
    /**
     * @var $this \Zend\View\Renderer\PhpRenderer
     */
    if ($this->user('role') == 'guest'):?>
        <div class="header">
            <h3 class="text-muted"><?php echo $this->translate('Greetings') ?>,&nbsp;
                <?php echo $this->translate('Guest'); ?>!
            </h3>
        </div>
        <?php ?>
    <?php else: ?>
        <?php
        $partial = array('partials/main-menu.phtml', 'application');
        $this->navigation()->menu()->setPartial($partial);
        echo $this->navigation('main')->menu()->render();
        ?>
        <?php
        $partial = array('partials/sub-menu.phtml', 'application');
        $this->navigation()->menu()->setPartial($partial);
        echo $this->navigation('sub')->menu()->render();
        ?>

    <?php endif ?>
     <?php $this->content ?>
</div>
<div class="footer">
    <p>© Company 2014</p>
</div>

<?php //echo $this->inlineScript() ?>
</body>
</html>
