<?php
/**
 * @var $this \Zend\View\Renderer\PhpRenderer
 */
if ($this->user('role') == 'member'):?>
    <div class="alert alert-warning">
        <button class="close" data-dismiss="alert" type="button">×</button>
        <strong><?php echo $this->translate('Warning'); ?>!</strong>
        <p>
            <?php echo $this->translate('You have already log in'); ?>.
        </p>
    </div>
    <p><a href="<?php echo $this->url(
            'logout',
            array('action' => 'logout', 'lang' => $this->user('lang'))
        ) ?>"><?php echo $this->translate('Log out'); ?></a></p>
<?php else: ?>
    <p>
        <a href="<?php echo $this->url(
            'login',
            array('action' => 'login', 'lang' => $this->user('lang'))
        ) ?>"><?php echo $this->translate('Log in'); ?></a>
    </p> <!--язык пользователя из сессии-->

<?php endif ?>


