<?php echo $this->headLink()->prependStylesheet($this->basePath() . '/css/jumbotron-narrow.css');
?>
<div class="jumbotron">
    <h1><?php echo $this->translate('Greetings'); ?>!</h1>

    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

    <p>
        <a class="btn btn-lg btn-success" role="button" href="<?php echo $this->url(
            'signin',
            array('module' => 'user', 'controller' => 'auth', 'action' => 'signin'),
            true
        ); ?>"><?php echo $this->translate('Sign in'); ?></a>
        <a class="btn btn-lg btn-success" role="button" href="<?php echo $this->url(
            'signup',
            array('module' => 'user', 'controller' => 'registration', 'action' => 'registration'),
            true
        ); ?>"><?php echo $this->translate('Sign up'); ?></a>
    </p>
</div>
